*{
  margin: 0%;
  padding: 0%;
}
:root {
  --dark-color: #19283f;
  --green-color: #33d1cc;
  --red-color: #ff3150;
  --yellow-color: #ffc400;
  --section-color: #eff7fa;
  --main-color:#02855A;
  --sub-color:#F5FDFA;
  --green-color: #1dbe9b;
  --info-color: #25cff2;
  --color-blu: #1eb5c9;
  --red-color: #ff3150;
  --yellow-color: #ffc400;
  --crisco-color1: #FFD33D;
  --crisco-color2: #F67C4B;
}
#carousel-item img{
  max-width: 180px;
  margin-left: 16%;
}
@media only screen and (min-width:280px) and (max-width:1280px){
  #carousel-item img{
    width: 100% !important;
    transform: translate(60%,0%) !important;
  }
}
@media only screen and (min-width:820px) and (max-width:1180px){
  #carousel-item img{
    width: 100% !important;
    transform: translate(180%,0%) !important;
  }
}
@media only screen and (min-width:768px) and (max-width:1024px){
  #carousel-item img{
    width: 100% !important;
    transform: translate(160%,0%) !important;
  }
 
}
@media only screen and (min-width:912px) and (max-width:1368px){
  #carousel-item img{
    width: 100% !important;
    transform: translate(200%,0%) !important;
  }
}
@media only screen and (min-width:540px) and (max-width:720px){
  #carousel-item img{
    width: 100% !important;
    transform: translate(100%,0%) !important;
  }
}
@media only screen and (min-width:280px) and (max-width:653px){
  #carousel-item img{
    width: 100% !important;
    transform: translate(25%,0%) !important;
  }
}
@media only screen and (min-width:412px) and (max-width:914px){
  #carousel-item img{
    width: 100% !important;
    transform: translate(60%,0%) !important;
  }
}
@media only screen and (max-width:1024px) and (min-width:600px){
  #carousel-item img{
    width: 100% !important;
    transform: translate(230%,0%) !important;
  }
}
@media only screen and (min-width:375px) and (max-width:667px){
  #carousel-item img{
    width: 100% !important;
    transform: translate(50%,0%) !important;
  }
}
@media only screen and (min-width:414px) and (max-width:896px){
  #carousel-item img{
    width: 100% !important;
    transform: translate(60%,0%) !important;
  }
 
}
@media only screen and (min-width:360px) and (max-width:740px){
  #carousel-item img{
    width: 100% !important;
    transform: translate(40%,0%) !important;
  }
}
body {
  font-size: 16px !important;
}
.main-btn {
  background-color: var(--main-color);
  color: var(--section-color);
  padding: 0.5rem 1.3rem;
  transition: 0.4s;
  text-decoration: none;
}
.main-btn:hover {
  color: var(--dark-color);
}
.sub-btn {
  background-color: #2cc238;
  color: blanchedalmond;
  padding: 0.5rem 1rem;
  transition: 0.4s;
}
.sub-btn:hover {
  color: var(--section-color);
  background-color: #29b335;
}
.donat-btn{
  box-shadow: none !important;
  background-color: rgb(238, 238, 238);
}
.donat-btn:focus{
  background-color: #33d1cc;
  color: var(--section-color);
  border: none;
}
.main-title::after {
  content: "";
  width: 120px;
  height: 2px;
  background-color: var(--green-color);
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
}
#ulai li a{
  transition: 0.4s;
  font-size: 25px;
  color: #19283f !important;
  padding-bottom: 12px;
}
#ulai li a:hover{
  color: #02855A !important;
}
.wwd-btn{
  color: #1eb5c9;
  font-size: 16px;
  background-color: #fff;
}
/* Start Navbar */
.navbar {
  background-color: #fff;
}
.navbar .navbar-nav .nav-link {
  color: var(--main-color);
  transition: 0.6s;
}
.navbar .navbar-nav .nav-link.active,
.navbar .navbar-nav .nav-link:focus,
.navbar .navbar-nav .nav-link:hover {
  color: var(--dark-color);
}
.navbar input[type="search"]{
  box-shadow: none;
}
.navbar .search svg:hover{
  color: var(--dark-color);
}
.navbar .navbar-toggler {
  color: var(--main-color);
  font-size: 25px;
  border: 2px solid #02855A;
  border-color: var(--main-color);
}
.navbar .navbar-toggler:focus {
  box-shadow: none;
}
.navbar .navbar-toggler[aria-expanded="true"] {
  border-color: var(--green-color);
}
/* End Navbar */

/* section */
section p a{
  color: #d6d6d6;
}
section h6{
  color: #33df41;
}
section p a:hover{
  color:  #fff;
  border-bottom: 2px solid rgb(117, 175, 23);
}
section #mail{
  transition: 0.3s;
  cursor: pointer;
}
section #mail:hover{
  color: #33df41 !important;
}
section .facebook,.twitter,
.linkedin,.youtube,.instagram{
  transition: 0.4s;
}
section .facebook:hover{
  background-color: #1877f2;
}
section .twitter:hover{
  background-color: #1da1f2;
}
section .linkedin:hover{
  background-color: #0077b5;
}
section .youtube:hover{
  background-color: #ff0000;
}
section .instagram:hover{
  background-color: #E1306C;
}
/* section */

/* leadership */
.leadership img{
  transform: scale(1.0);
  transition: 0.5s;
}
.leadership img:hover{
  transform: scale(0.9,0.9);
}
/* leadership */

/* sectors */
.crisco .card img{
  transform: scale(0.9);
  transition: 0.4s;
}
.crisco .card img:hover{
  transform: scale(1.0,1.0);
}
.crisco .card{
  transition: 0.4s;
}
.crisco .card:hover{
  cursor: pointer;
  color: var(--crisco-color2);
}
/* sectors */







/* crisco social */

.social .facebook,.twitter,
.linkedin,.youtube,.instagram{
  transition: 0.4s;
}
.social .facebook:hover{
  background-color: #1877f2;
}
.social .twitter:hover{
  background-color: #1da1f2;
}
.social .linkedin:hover{
  background-color: #0077b5;
}
.social .youtube:hover{
  background-color: #ff0000;
}
.social .instagram:hover{
  background-color: #E1306C;
}

/* crisco social */

/* Start visit */
.visit{
  background-color: #fff;
}
.visit ul li{
  border-left: 2px solid #02855A;
  border-radius: 10px;
  width: 150px;
}
.visit ul li h5{
  font-size: 16px;
}
/* End visit */

/* sectors */
.sectors .card img{
  transform: scale(0.9);
  transition: 0.4s;
}
.sectors .card img:hover{
  transform: scale(1.0,1.0);
}
.sectors .card{
  transition: 0.4s;
}
.sectors .card:hover{
  cursor: pointer;
  color: #02855A;
}
/* sectors */

/* Start Footer */
footer {
  background-color: var(--main-color);
}
footer .copyright > span {
  color: var(--green-color);
}
footer .copyright div span {
  color: var(--yellow-color);
}
footer .contact ul svg {
  width: 20px;
  height: 20px;
}
footer .facebook,.twitter,
.linkedin,.youtube,.instagram{
  transition: 0.4s;
}
footer .facebook:hover{
  background-color: #1877f2;
}
footer .twitter:hover{
  background-color: #1da1f2;
}
footer .linkedin:hover{
  background-color: #0077b5;
}
footer .youtube:hover{
  background-color: #ff0000;
}
footer .instagram:hover{
  background-color: #E1306C;
}
/* End Footer */
